.status-card {
  max-width: 400px;
  margin: 5px;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  //gap: 24px;
}

mat-spinner {
  margin-top: 10px;
}
