<div class="responsive-grid">
<mat-card class="status-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>OpenWrt image</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (openwrtVersion) {
      <ul>
        <li>Version: {{ openwrtVersion }}</li>
        <li>Kernel: {{ openWrtKernel }}</li>
      </ul>
    } @else {
        <mat-spinner [diameter]="50"></mat-spinner>
    }
  </mat-card-content>
</mat-card>

<mat-card class="status-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Attached hardware</mat-card-title>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
</div>
