<mat-card class="vnc-card ">
  <mat-card-header>
    <mat-card-title>
      VNC console
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="startClient()">VNC reconnect</button>
        <button mat-menu-item (click)="rebootOpenWrt()">Reboot OpenWrt</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="vnc-screen" class="vnc-console">
      <!-- This is where the remote screen will appear -->
      @if (!vncConnected) {
        <mat-spinner [diameter]="50"></mat-spinner>
    }
    </div>
  </mat-card-content>
</mat-card>
